<!DOCTYPE html>
<html>
    <head>
        <title>Clasificar animal</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" width=100% heigth=100%>
            <h1>Clasificar Animal</h1>
            <h2>Introduce los parámetros</h2>
            <p>Introduce los datos para predecir de que tipo de animal se trata. El modelo utilizado
            es Arbol de decisión, en el cual, se basa en los parámetros introducidos para 
            determinar que clase de animal es.
            </p>
            <form method="POST" action="/send">
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="pelo" name="pelo">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="plumas" name="plumas">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="huevos" name="huevos">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="leche" name="leche">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="vuela" name="vuela">
                </div> 
                <div class="col">
                    <input type="text" class="form-control" placeholder="acuatico" name="acuatico">
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="depredador" name="depredador">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="dientes" name="dientes">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="columnaVertebral" name="columnaVertebral">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="pulmones" name="pulmones">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="venenoso" name="venenoso">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="aletas" name="aletas">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="patas" name="patas">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="cola" name="cola">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="domestico" name="domestico">
                </div>
            </div>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>