<!DOCTYPE html>
<html>
    <head>
        <title>Clasificar animal</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container" width=100% heigth=100%>
            <h1>Clasificar Animal</h1>
            <h2>Introduce los parámetros</h2>
            <p>Introduce los datos para predecir de que tipo de animal se trata. El modelo utilizado
            es Arbol de decisión, en el cual, se basa en los parámetros introducidos para 
            determinar que clase de animal es.
            </p>
            <p>
                Las instrucciones para rellenar los campos son las siguientes:
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Pelo (1 tiene, 0 no tiene)</li>
                    <li class="list-group-item">Plumas (1 tiene, 0 no tiene)</li>
                    <li class="list-group-item">Huevos (1 tiene, 0 no tiene)</li>
                    <li class="list-group-item">Leche (1 tiene, 0 no tiene)</li>
                    <li class="list-group-item">Vuela (1 tiene, 0 no tiene)</li>
                    <li class="list-group-item">Acuático (1 es acuático, 0 no es acuático)</li>
                    <li class="list-group-item">Depredador (1 es depredador, 0 no es depredador)</li>
                    <li class="list-group-item">Dientes (1 tiene, 0 no tiene)</li>
                    <li class="list-group-item">Columna Vertebral (1 tiene, 0 no tiene)</li>
                    <li class="list-group-item">Pulmones (1 Respiración pulmonar, 0 no respiración pulmonar)</li>
                    <li class="list-group-item">Venenoso (1 es venenoso, 0 no es venenoso)</li>
                    <li class="list-group-item">Aletas (1 tiene, 0 no tiene)</li>
                    <li class="list-group-item">Patas (Numero de patas)</li>
                    <li class="list-group-item">Cola (1 tiene, 0 no tiene)</li>
                    <li class="list-group-item">Doméstico (1 tiene, 0 no tiene)</li>
                  </ul>
                <p>Aquellos campos en los que se introduzca 0 o 1, en el caso de ser mayor que 1, será traducido como 1. En otro caso obtendremos como resultado error. </p>
            </p>
            <form method="POST" action="/predecir_animal/send">
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="pelo" name="pelo">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="plumas" name="plumas">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="huevos" name="huevos">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="leche" name="leche">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="vuela" name="vuela">
                </div> 
                <div class="col">
                    <input type="text" class="form-control" placeholder="acuatico" name="acuatico">
                </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="depredador" name="depredador">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="dientes" name="dientes">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="columnaVertebral" name="columnaVertebral">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="pulmones" name="pulmones">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="venenoso" name="venenoso">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="aletas" name="aletas">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="patas" name="patas">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="cola" name="cola">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="domestico" name="domestico">
                </div>
            </div>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>